body {
	margin: 0px;
	font-family: caslon;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	background-color: #fdffef;
	border-bottom: 1px solid #e6e3e3;
	/*width: calc(100% - 2cm);*/
	/*height: 1cm;*/
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 5px;
	/*align-items: center;*/
	padding: 0.5cm;
	/*padding-right: 0.5cm;*/
	/*padding-bottom: 0.5cm;*/
	margin: 0.5cm;
	justify-content: space-between;
	z-index: 2;
	top: 0.5cm;
	left: 0.5cm;
	right: 0.5cm;
}

#og {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#og a img {
	height: 16px;
}

#og a {
	display: flex;
	align-items: center;
}

#right-header {
	display: flex;
	gap: 20px;
	align-items: center;
}

#extra-message {
	background-color: #f3ddb0;
	border: 0.1px solid black;
	font-weight: normal;
}

#main {
	display: flex;
	flex-direction: column;
}

#main > * {
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 60px;
	padding-bottom: 50px;
}

#head {
	background-image: url("pictures/suka.jpeg");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding-bottom: 5vw;
}

.title {
	font-size: min(10.8vw, 90px);
	/*font-size: 21px;*/
	font-family: Caslon;
	max-width: 960px;
	/*height: 200px;*/
	/*margin-top: 190px;*/
	margin-top: 10vw;
	-webkit-text-stroke: #f8f8f8 0.2px;
	line-height: 1.2;
}

#subtitle {
	font-size: 3vw;
	/*font-size: 32px;*/
	margin-top: 1.5cm;
	/*font-weight: bolder;*/
	-webkit-text-stroke: whitesmoke 0.25px;
}

span {
	/*background-color: #fdffef;*/
	background-color: rgba(253, 255, 239, 0.2);
}

#cover-image {
	max-width: 418px;
	max-height: 492px;
	align-self: flex-end;
	border-top-left-radius: 50% 30%;
	border-top-right-radius: 50% 30%;
}

@font-face {
	font-family: Caslon;
	/*font-weight: bolder;*/
	src: url("/fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf");
}

@font-face {
	font-family: Wix;
	/*font-weight: bolder;*/
	src: url("/fonts/Wix_Madefor_Text/WixMadeforText-VariableFont_wght.ttf");
}

.section-title {
	/*font-size: 72px;*/
	font-size: max(3.9vw, 26px);
	text-align: center;
	line-height: 1.2;
	margin-bottom: 30px;
}

.left-title {
	text-align: left;
}

#services {
	background-color: #fdffef;
	gap: 40px;
	display: flex;
	flex-direction: column;
}

#services-arrows {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.scroll-button {
    background-color: transparent;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
	display: none;
}

#scroll-left {
    position: absolute;
    left: 0;
}

#scroll-right {
    position: absolute;
    right: 0;
}


#service-boxes {
	flex-direction: column;
	font-family: Wix;
	font-size: 16px;
	display: flex;
	gap: 48px;
	/*justify-content: center;*/
    overflow-x: auto;
    scroll-behavior: smooth;
    /*width: calc(100% - 100px);*/ /* Adjusting width to accommodate arrows */
}

.service-box {
	border: 1px solid black;
	height: 280px;
	width: 100%;
	/*min-width: 360px;*/
	max-width: 480px;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	gap: 15px;
	/*flex: 1 1 360px;*/
	text-align: center;
	/*justify-content: center;*/
}

.service-title {
	font-size: 24px;
	font-weight: light;
}

.service-description {
	text-align: justify;
	text-align-last: center;
}

.yellow-button {
	background-color: #eec355;
	padding: 11px;
	width: fit-content;
}

#upcoming-events {
	background-color: #f8f8f8;
}

#event {
	flex-direction: column-reverse;
	border: 1px solid black;
	display: flex;
	min-height: 600px;
	margin: 3vw;
	gap: 40px;
	font-family: Wix;
}

#event-text {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	box-sizing: border-box;
	width: 100%;
}

#event-title {
	font-size: 24px;
	/*font-size: 2.6vw;*/
	margin-bottom: 20px;
	/*display: contents;*/
}

#event-image {
	flex: 1;
	object-fit: cover;
	width: 100%;
	overflow: hidden;
}

#news {
	background-color: #fdffef;
}

#news-blogs {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin-top: 60px;
	width: 100%;
	gap: 40px;
	font-family: Wix;
}

.new {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 45px;
}

.new:hover {
	/*background-color: #e4e6d7;*/
	/*background-color: hsl(67.5, 6.27, 80);*/
	transform: scale(1.05);
}

.new img {
	max-width: 100%;
	height: 300px;
	object-fit: cover;
}

.new-title {
	margin-bottom: 20px;
	font-size: 22px;
}

.new-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 3em;
	line-height: 1.5em;
	line-clamp: 2;
}

#about {
	background-color: #f8f8f8;
	display: flex;
	justify-content: space-between;
	position: relative;
	/*height: auto;
	min-height: 300px;*//
}

#left-section {
	width: 40vw;
	font-size: 16px;
	gap: 30px;
	display: flex;
	flex-direction: column;
	text-align: justify;
}

#left-section img {
	aspect-ratio: 467/342;
	object-fit: cover;
	border-top-left-radius: 30% 50%;
	border-bottom-left-radius: 30% 50%;
	border-top-right-radius: 30% 50%;
	border-bottom-right-radius: 30% 50%;
}

#about-right-image {
	max-width: 40vw;
	max-height: calc(30vw/467*520);
	object-fit: cover;
}

#gallery {
	background-color: #fdffef;
}

#images {
	display: flex;
	gap: 30px;
	/*transition: transform 0.5s ease;*/
  	overflow: auto;
  	white-space: nowrap;
  	padding: 30px;
}

#images img{
	height: 300px;
	width: 300px;
	object-fit: cover;
	flex-shrink: 0;
}

footer {
	background-color: #e6e3e3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5cm;	
}

footer a img {
	height: 30px;
}

#news-body {
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	flex-direction: column;
	background-color: #fdffef;
	z-index: 0;
	position: relative;
	padding-bottom: 5vw;
}

#news-body > * {
	z-index: 3;
}

#news-image {
	width: 100vw;
	height: 50vh;
	object-position: center;
	object-fit: cover;
	position: absolute;
	top: 0;
	z-index: -1;
	right: 0;
}

#new-cover-title {
	margin-top: 20vw;
	max-width: 100%;
	-webkit-text-stroke: #f8f8f8 0.5px;
	font-size: 6vw;
}

#title-line {
	margin-top: 50px;
	margin-bottom: 6vh;
	/*margin-bottom: 100px;*/
	width: 100%;
	height: 1px;
	background: black;
	border: 1px;
	border-color: gray;
}

#image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #fdffef);
	z-index: 2; /* Above the image, below the content */
	pointer-events: none; /* Ensure the overlay doesn't block interactions */
}

  #news-description {
	/*font-size: xx-large;*/
	font-size: 5vw;
	text-align: justify;
	font-family: Wix;
	-webkit-text-stroke: #f8f8f8 0.2px;
  }

  #quiz {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 0;
	border-top: 1px;
	border-color: rgba(107, 100, 100, 0.915);
	border-style: solid;
	gap: 25px;
  }

  #quiz-desc {
	margin-bottom: 10px;
  }

  #hanuka-title {
	margin-top: 20px;
  }

  .question-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	max-width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 10px;
  }

  .feedback {
	margin-top: 10px;
	padding: 10px;
	border-radius: 4px;
	/*opacity: 0;*/
	transition: opacity 0.3s ease;
	min-height: 42px;
	display: none;
	width: auto;
	text-align: center;
	vertical-align: middle;
}

.correct {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
	opacity: 1;
}

.incorrect {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	opacity: 1;
}

.drag-handle {
	margin-right: 12px;
	color: #94a3b8;
}

.drag-handle::before {
	content: "⣿";
	font-size: 20px;
}

.item {
	display: flex;
	align-items: center;
	padding: 12px;
	margin: 8px 0;
	background: white;
	border: 1px solid #e2e8f0;
	border-radius: 6px;
	cursor: move;
	user-select: none;
	transition: background-color 0.3s ease;
	touch-action: none;
}

.item:hover {
	background: #f8fafc;
}

.item.dragging {
	opacity: 0.5;
	border: 1px dashed #3b82f6;
}

#h-numbers {
	max-width: 100%;
}

.quiz-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.kosher-img {
	width: 100px;
	height: auto;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}

#kosher-options {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Two columns */
	gap: 10px; /* Space between rows and columns */
	width: 100%;
  }

#kosher-options .option input[type="checkbox"]{
	display: none;
}

#kosher-options .option label {
	display: inline-block;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 8px;
	padding: 5px;
	transition: all 0.3s ease;
}

#kosher-options .option label:hover {
	border-color: #aaa;
	transform: scale(2);
}

/*#kosher-options .option label:active {
	transition-delay: 3s;
	transform: scale(1.5); /* Scale up 1.5x 
	filter: brightness(1.2); /* Optional: brighten the image 
  }*/

#kosher-options .option input[type="checkbox"]:checked + label {
	border-color: #007bff;
	box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

  @media (min-width: 800px) {
	#new-cover-title {
		margin-top: 120px;
		-webkit-text-stroke: #f8f8f8 1px;
	}
	#news-description {
		font-size: xx-large;
		/*font-size: 5vw;
		text-align: justify;
		font-family: Wix;*/
	  }
	#service-boxes {
	  flex-direction: row;
	}
	.scroll-button {
		display: block;
	}
	#event-title {
		font-size: 2.6vw;
	}
	#event {
		flex-direction: row;
	}
	#news-blogs {
		flex-direction: row-reverse;
	}
  }

  @media (max-width: 800px) {
	#subtitle {
		font-size: 32px;
	}
	.section-title {
		text-align: center;
	}
	#about-right-image {
		display: none;
	}
	#left-section {
		width: 100%;
	}
	#services-arrows {
		justify-content: center;
	}
	header {
		left: 0px;
		right: 0px;
		top: 0px;
		margin: 0px;
		margin-bottom: 0.5cm;
		padding: 15px;
	}
  }